body {
  text-align: center;
}
h1 {
  color: white;
  font-size: 60px;
}

.owners-page {
  width: 100%;
  background-color: pink;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  padding: 20px 80px;
}
