.header {
  position: sticky;
  top: 0;
  background-color: white;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  z-index: 10;

  .logo-container {
    height: 100%;
    width: 70px;
    .logo {
      height: 70px;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
